body {
    font-family: arial,sans-serif;
    width: 960px;
}

.header {
    background-color: #fafafa;
    padding-top: 6px;
    &_logo {
        display: inline-block;
        line-height: 0;
        padding: 0 13px;
        img {
            width: 120px;
            transform: translateY(22px);

        }
    }
    &_form {
        display: inline-block;
        padding: 4px 16px 4px;
        width: 632px;
        // border: 1px solid #000000;

        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
        background-color: #ffffff;
    }
    &_text {
        line-height: 34px;
        width: 560px;
        height: 34px;
        border: none;
        &:focus {
            outline: none;
        }
    }
    &_submit {
        margin-left: 10px;
        width: 24px;
        padding: 0;
        background-color: #ffffff;
        border: none;
        fill: #4285f4;
        &:focus {
            outline: none;
        }
        svg {
            transform: translateY(5px);
        }
    }
    &_mic {
        display: inline-block;
        img {
            transform: translateY(4px);
            display: inline-block;
            height: 23px;
            line-height: 0;
        }
    }
}

.nav {
    border-bottom: 1px solid #ebebeb;
    &_list {
        padding: 0 0 0 150px;
        background-color: #fafafa;
    }
    &_item {
        padding: 28px 16px 12px;
        display: inline-block;
        font-size: 13px;
        color: #777;
        &-active {
            border-bottom: 3px solid #1A73E8;
            color: #1A73E8;
            font-weight: bold;
        }
        &-right {
            padding-left: 50px;
        }
    }

}

.main {
    padding-left: 150px;

    &_header {
        padding: 12px 0 17px;
        // line-height: 43px;
        color: #808080;
        font-size: small;
    }
    &_body {

    }
}

.item {
    margin-bottom: 26px;
    width: 600px;
    &_title {
        color: #1a0dab;
        font-size: 18px;
    }
    &_url {
        color: #006621;
        font-size: 14px;
        padding: 3px 0 5px;
        &:after {
            border-color: #006621 transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            display: inline-block;
            content: "";
            padding-top: 3px;
            margin-left: 5px;
        }
    }
    &_text {
        color: #545454;
        line-height: 1.4;
        font-size: small;
    }
    &_date {
        color: #808080;
        font-size: small;
    }
}